USE [master]
GO
/****** Object:  Database [VP_Project]    Script Date: 12/1/2019 10:50:17 AM ******/
CREATE DATABASE [VP_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VP_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VP_Project.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VP_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VP_Project_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VP_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VP_Project]
GO
/****** Object:  Table [dbo].[book]    Script Date: 12/1/2019 10:50:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book](
	[b_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[author] [nvarchar](50) NULL,
	[pub_date] [date] NULL,
	[dept] [nvarchar](50) NULL,
	[price] [int] NULL,
	[d_id] [bigint] NOT NULL,
	[date] [date] NOT NULL CONSTRAINT [DF_book_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_book] PRIMARY KEY CLUSTERED 
(
	[b_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[buy]    Script Date: 12/1/2019 10:50:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[buy](
	[boo_id] [bigint] IDENTITY(1,1) NOT NULL,
	[c_id] [nvarchar](50) NOT NULL,
	[b_id] [bigint] NOT NULL,
	[date] [date] NOT NULL CONSTRAINT [DF_buy_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_buy] PRIMARY KEY CLUSTERED 
(
	[boo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[customer]    Script Date: 12/1/2019 10:50:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[c_id] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NULL,
	[adress] [nvarchar](50) NULL,
	[age] [int] NOT NULL,
	[phone] [nvarchar](50) NULL,
	[date] [date] NOT NULL CONSTRAINT [DF_customer_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[c_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[department]    Script Date: 12/1/2019 10:50:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[department](
	[d_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[date] [date] NOT NULL CONSTRAINT [DF_department_date]  DEFAULT (getdate()),
 CONSTRAINT [PK_department] PRIMARY KEY CLUSTERED 
(
	[d_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[login]    Script Date: 12/1/2019 10:50:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[job] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[book]  WITH CHECK ADD  CONSTRAINT [FK_book_department] FOREIGN KEY([d_id])
REFERENCES [dbo].[department] ([d_id])
GO
ALTER TABLE [dbo].[book] CHECK CONSTRAINT [FK_book_department]
GO
ALTER TABLE [dbo].[buy]  WITH CHECK ADD  CONSTRAINT [FK_buy_book] FOREIGN KEY([b_id])
REFERENCES [dbo].[book] ([b_id])
GO
ALTER TABLE [dbo].[buy] CHECK CONSTRAINT [FK_buy_book]
GO
ALTER TABLE [dbo].[buy]  WITH CHECK ADD  CONSTRAINT [FK_buy_customer] FOREIGN KEY([c_id])
REFERENCES [dbo].[customer] ([c_id])
GO
ALTER TABLE [dbo].[buy] CHECK CONSTRAINT [FK_buy_customer]
GO
USE [master]
GO
